{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

<section class="container-main">

    <div class="search-playground-container">
{#    {% if request.user.is_authenthicated %}#}
        <div class="search-container">
            <form class="search-form" method="post" action="{% url 'index' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="form-button">Search</button>
            </form>
        </div>
{#    {% endif %}#}

        <div class="playground-list">
        <h3 class="index-title">Playgrounds by rating and country:</h3>
            <br>
            {% for playground in playgrounds %}
                <li>
                    <a href="{% url 'playground details' playground.pk %}">{{ playground.name }}</a>
                    , {{ playground.city }}, {{ playground.get_country_display }}
                </li>
            {% endfor %}
        </div>
    </div>

    <div class="slideshow-container">
        {% for photo in photos %}
            <div class="mySlides">
                <h4 class="index-title">{{ photo.playground.name }}</h4>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'photo details' photo.pk %}"><img src="{{ photo.playground_image.url }}" alt="{{ photo.playground }}"/></a>
                {% else %}
                    <img src="{{ photo.playground_image.url }}" alt="{{ photo.playground }}"/>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</section>

<script>
    let slideIndex = 0;
    const slides = document.getElementsByClassName("mySlides");
    const shuffledIndices = Array.from({ length: slides.length }, (_, index) => index);

    shuffleArray(shuffledIndices); // Shuffle the indices initially
    showSlides();

    function showSlides() {
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex = (slideIndex + 1) % slides.length; // Increment index and wrap around
        slides[shuffledIndices[slideIndex]].style.display = "block";
        setTimeout(showSlides, 3000);
    }

    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
    }
</script>

{% endblock %}
