{% load static %}

<nav class="navbar">
    <div class="navbar-logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/pg02.png' %}" alt="Logo">
            <span class="navbar-name">playDATE</span>
        </a>
    </div>
    <ul class="navbar-links">
        <li class="navbar-item">
            <a href="{% url 'playgrounds list' %}">
                <span class="navbar-list-item">Playgrounds</span>
            </a>
        </li>

        {% if request.user.is_authenticated %}
            <li class="navbar-item">
                <a href="{% url 'photo list' %}">
                    <span class="navbar-list-item">Photos</span>
                </a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'playground add' %}">
                    <span class="navbar-list-item">Add Playground</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="{% url 'logout user' %}">
                    <span class="navbar-list-item">Logout</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="{% url 'profile details' pk=request.user.pk %}">
                    <span class="navbar-list-item">{{ request.user.username }}</span>
                </a>
            </li>

        {% else %}
            <li class="navbar-item">
                <a href="{% url 'login user' %}">
                    <span class="navbar-list-item">Login</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="{% url 'register user' %}">
                    <span class="navbar-list-item">Register</span>
                </a>
            </li>

        {% endif %}
    </ul>
</nav>
