{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <div class="profile-data">
        <div class="image">
            {% if object.profile_picture %}
                <img src="{{ object.profile_picture.url }}" alt="profile_image">
            {% else %}
                <img src="{% static 'images/person02.svg' %}" alt="profile_image">
            {% endif %}
        </div>

        <div class="profile-edit">
            <p>{{ object.username }}</p>
            <a href="{% url 'profile edit' pk=object.pk %}">
                <img class="edit-img" src="{% static 'images/pen-edit.svg' %}" alt="edit button">
            </a>
            <a href="{% url 'profile delete' pk=object.pk %}">
                <img class="delete-img" src="{% static 'images/bin-delete.svg' %}" alt="delete button">
            </a>
        </div>

        <h3 class="name">
            {% if object.full_name is not None %}
                {{ object.full_name }}
            {% else %}
                Empty
            {% endif %}
        </h3>

        <p class="email">{{ object.email }}</p>
    </div>

{% endblock %}