@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&family=Lumanosimo&family=Teko&family=Ysabeau+Infant:ital@0;1&display=swap');

body, html {
    font-family: "Ysabeau Infant", Arial, sans-serif;
    background-color: #dcfabe;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fbe5b3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.navbar-logo img {
    height: 40px;
    margin-right: 10px;
}

.navbar-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #fbe5b3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a {
    text-decoration: none;
    color: #333;
}

/* GLOBAL */

.main {
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: calc(100vh - 160px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main {
    max-width: 90%;
    margin: 0 auto;
    padding: 5%;
}

/* FORM FIELDS */

.container-form {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fbe5b3;
}

form {
    display: flex;
    flex-direction: column;
}

#title-h1 {
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 16px;
    margin-top: 8px;
    border: 1px solid darkseagreen;
    border-radius: 4px;
}

.form-button {
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: greenyellow;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* PLAYGROUND DETAILS */

.playground-details {
    font-size: 1.5rem;
    padding: 4rem 5%;
    text-align: center;
}

.content-section {
    padding: 2rem 0;
}

.content-section .about-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.content-section .about-wrapper .about-item {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.content-section .about-wrapper .about-item .about-img {
    height: 340px;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

/* PROFILE */

.profile-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #fbe5b3;
    border: 1px solid #e88935;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(245, 170, 96, 255);
}

.image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-edit {
    display: flex;
    align-items: center;
    margin: 10px;
}

.edit-img,
.delete-img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.name,
.email {
    margin: 5px 5px;
    font-size: 20px;
}

/*!* PHOTO DETAILS *!*/

/*.card {*/
/*  width: 100%;*/
/*  max-width: 600px;*/
/*  background-color: #fcf5b3;*/
/*  border-radius: 10px;*/
/*  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);*/
/*  padding: 20px;*/
/*}*/

/*.card .top {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  margin-bottom: 15px;*/
/*}*/

/*.card .userDetails {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.card .userDetails .profile_img {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  border-radius: 50%;*/
/*  overflow: hidden;*/
/*  margin-right: 10px;*/
/*}*/

/*.card .userDetails .profile_img img {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*}*/

/*.card .photo-info {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.card .photo-info span {*/
/*  margin-right: 10px;*/
/*  font-weight: bold;*/
/*}*/

/*.card .photo-info .edit-delete-btns {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.card .photo-info .edit-delete-btns a {*/
/*  margin-right: 5px;*/
/*}*/

/*.card .imgBx {*/
/*  text-align: center;*/
/*}*/

/*.card .bottom {*/
/*  margin-top: 15px;*/
/*}*/

/*.card .bottom .actionBtns {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.card .bottom .actionBtns .left {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.card .bottom .actionBtns .left a {*/
/*  margin-right: 10px;*/
/*}*/

/*.card .bottom .actionBtns .likes {*/
/*  font-weight: bold;*/
/*  margin-bottom: 10px;*/
/*}*/

/*.card .bottom .comments {*/
/*  margin-top: 10px;*/
/*}*/

/*.card .bottom .comments .top {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.card .bottom .comments .top .comment-data {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.card .bottom .comments .top .comment-data .profilepic {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  border-radius: 50%;*/
/*  overflow: hidden;*/
/*  margin-right: 10px;*/
/*}*/

/*.card .bottom .comments .top .comment-data .profilepic img {*/
/*  width: 20%;*/
/*  height: 20%;*/
/*  object-fit: cover;*/
/*}*/

/*.addComments {*/
/*    display: flex;*/
/*    align-items: center;*/

/*    margin-top: 20px;*/
/*}*/

/*.addComments form {*/
/*    width: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.addComments form button {*/
/*  padding: 5px 15px;*/
/*  background-color: #0095f6;*/
/*  color: #fff;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*}*/
