{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

<div class="playground-details">
    <h2>{{ playground.name }}</h2>
    <p><strong>Description:</strong></p>
    <p> {{ playground.description }}</p>
    <p><strong>Address:</strong></p>
    <p>{{ playground.address }}</p>
    <p><strong>City:</strong></p>
    <p>{{ playground.city }}</p>
    <p><strong>Country:</strong></p>
    <p>{{ playground.get_country_display }}</p>
    <p><strong>Availability:</strong></p>
    <p>{{ playground.get_availability_display }}</p>
    {% if playground.price %}
        <p><strong>Price:</strong></p>
        <p>{{ playground.price|floatformat:2 }} &euro;</p>
    {% endif %}
    {% if playground.latitude and playground.longitude %}
        <p><strong>Coordinates:</strong> {{ playground.latitude }}, {{ playground.longitude }}</p>
    {% endif %}
    {% if playground.rating %}
        <p><strong>Rating:</strong>{{ playground.get_rating_display }}</p>
    {% endif %}

    <div class="playground-edit">
        <a href="{% url 'photo add' playground.pk %}">
            <button type="submit" class="form-button">Add Photo</button>
        </a>
        {% if user == playground.owner %}
            <a href="{% url 'playground edit' playground.pk %}">
                <button type="submit" class="form-button">Edit Playground</button>
            </a>
            <a href="{% url 'playground delete' playground.pk %}">
                <button type="submit" class="form-button">Delete Playground</button>
            </a>
        {% endif %}
    </div>

    <section id="about" class="content-section">

    <div class="about-wrapper">
        {% for photo in photos %}
        <div class="about-item">

            <a href="{% url 'photo details' photo.pk %}">
                <img class="about-img" src="{{ photo.playground_image.url }}" alt="{{ playground.name }}">
            </a>
            <h4 class="subtitle2">{{ playground.name }}</h4>
            <p class="desc">
                {{ photo.description }}
            </p>

        </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}
